<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Categoria</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="menu">
    <a th:href="@{/noticias}">Cadastrar Notícias</a>
    <a th:href="@{/lista-noticias}">Exibir Notícias</a>
</div>
<div class="container">
    <h1>Criar categoria</h1>
    <form action="/categoria" th:method="post">

        <div class="form-group">
            <label for="nome">Nome da categoria:</label>
            <input type="text" id="nome" name="categoria">
            <p th:each="error : ${erros}" th:text="${error.defaultMessage}"></p>
        </div>
        <button type="submit">Criar</button>
    </form>
</div>
</body>
</html>
