<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Notícias</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="menu">
    <a th:href="@{/categoria}">Nova Categoria</a>
    <a th:href="@{/lista-noticias}">Exibir Notícias</a>
</div>
<div class="container">
    <h1>Gerenciamento de Notícias</h1>
    <form action="/noticias" method="post" th:object="${noticias}">
        <div th:if="${errors != null}" class="alert alert-danger">
            <ul>
                <li th:each="error : ${errors}" th:text="${error.defaultMessage}"></li>
            </ul>
        </div>
        <div class="form-group">
            <label for="titulo">TÍTULO</label>
            <input type="text" id="titulo" name="titulo" th:field="*{titulo}">
        </div>

        <div class="form-group">
            <label for="categoria">CATEGORIA</label>
            <select id="categoria" name="categoria" th:field="*{categoria}">
                <option th:each="categoria : ${categorias}" th:value="${categoria.categoria}" th:text="${categoria.categoria}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="conteudo">Conteúdo da Notícia</label>
            <textarea id="conteudo" name="conteudo" th:field="*{conteudo}"></textarea>
        </div>
        <button type="submit">Enviar</button>
    </form>
</div>
</body>
</html>
